<button class="toggle-theme text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 focus:outline-none relative w-6 h-6" aria-label="Toggle Theme" title="Toggle Theme" onclick="toggleTheme()">
  <span class="theme-icon light absolute inset-0 transform"> {{ partial "utils/icon" "sun" }} </span>
  <span class="theme-icon dark absolute inset-0 transform"> {{ partial "utils/icon" "moon" }} </span>
</button>

<script>
  const animationClasses = ['opacity-0', 'scale-50', 'rotate-90'];
  const transitionClasses = ['transition-all', 'duration-300', 'ease-in-out'];

  function _setInitialIconState(isDarkTheme) {
    const lightIcon = document.querySelector('.theme-icon.light');
    const darkIcon = document.querySelector('.theme-icon.dark');

    // Remove classes de transição para garantir que o estado inicial não seja animado
    lightIcon.classList.remove(...transitionClasses);
    darkIcon.classList.remove(...transitionClasses);

    if (isDarkTheme) {
      darkIcon.classList.remove(...animationClasses);
      lightIcon.classList.add(...animationClasses);
    } else {
      lightIcon.classList.remove(...animationClasses);
      darkIcon.classList.add(...animationClasses);
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    const storedTheme = localStorage.getItem('theme');
    const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    const initialIsDark = storedTheme === 'dark' || (!storedTheme && prefersDark);

    // Define o tema na tag <html>
    if (initialIsDark) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
    // Define o tema no localStorage
    if (!storedTheme) {
        localStorage.setItem('theme', initialIsDark ? 'dark' : 'light');
    }

    _setInitialIconState(initialIsDark);
  });

  function toggleTheme() {
    const lightIcon = document.querySelector('.theme-icon.light');
    const darkIcon = document.querySelector('.theme-icon.dark');

    // Adiciona classes de transição antes de mudar o estado para animar
    lightIcon.classList.add(...transitionClasses);
    darkIcon.classList.add(...transitionClasses);

    const isCurrentlyDark = document.documentElement.classList.contains('dark');
    const newThemeIsDark = !isCurrentlyDark;

    if (newThemeIsDark) {
      document.documentElement.classList.add('dark');
      localStorage.setItem('theme', 'dark');
      darkIcon.classList.remove(...animationClasses);
      lightIcon.classList.add(...animationClasses);
    } else {
      document.documentElement.classList.remove('dark');
      localStorage.setItem('theme', 'light');
      lightIcon.classList.remove(...animationClasses);
      darkIcon.classList.add(...animationClasses);
    }
  }
</script>